{% load static %}
<!doctype html>
<html>
<head>
  <title>Dropbox JavaScript SDK</title>
  <link rel="stylesheet" href="/styles.css">
  <!--<script src="/__build__/Dropbox-sdk.min.js"></script> -->
 <!-- <script src="https://unpkg.com/dropbox/dist/Dropbox-sdk.min.js"></script> -->

  <script  src="{% static 'scripts/Dropbox-sdk.min.js' %}"></script>

</head>
<body>
  <!-- Example layout boilerplate -->
  <header class="page-header">
    <div class="container">
      <nav>
        
        <a href="https://github.com/dropbox/dropbox-sdk-js/tree/master/examples/javascript" class="view-source">View Source</a>
      </nav>
      <h2 class="code">
        <a href="/">examples</a> / upload file
      </h2>
    </div>
  </header>

  <!-- Example description and UI -->
  <section class="container main">
    <p>This example shows how to use the <code>Dropbox.filesUpload()</code> [<a href="http://dropbox.github.io/dropbox-sdk-js/Dropbox.html#filesUpload">docs</a>] method to upload a file.</p>

    <form onSubmit="return uploadFile()">
      <input type="text" id="access-token" placeholder="Access token" />
      <input type="file" id="file-upload" />

      <input type="file" id="campaign_select" onchange="getfolder(event)" webkitdirectory directory multiple />

      <button type="submit">Submit</button>
    </form>

    <!-- A place to show the status of the upload -->
    <h2 id="results"></h2>

    <p class="info">To obtain an access token for quick testing, you can go to <a href="https://dropbox.github.io/dropbox-api-v2-explorer/#files_list_folder" target="_blank">API Explorer</a> click the "Get Token" button on the top right, copy the token it creates and then paste it here.</p>
  </section>

  <script>
    function uploadFile() {


      const UPLOAD_FILE_SIZE_LIMIT = 150 * 1024 * 1024;
      var ACCESS_TOKEN = document.getElementById('access-token').value;
      var dbx = new Dropbox.Dropbox({ accessToken: ACCESS_TOKEN });
      //var dbx = new Dropbox({ accessToken: ACCESS_TOKEN });
      var fileInput = document.getElementById('file-upload');
      var file = fileInput.files[0];
      
      console.log("inside upload file - "+file.size);
      
      if (file.size < UPLOAD_FILE_SIZE_LIMIT) { // File is smaller than 150 Mb - use filesUpload API
        /*dbx.filesUpload({path: '/' + file.name, contents: file})
          .then(function(response) {
            var results = document.getElementById('results');
            results.appendChild(document.createTextNode('File uploaded!'));
            console.log(response);
          })
          .catch(function(error) {
            console.error(error);
          });*/
         uploadViaHttp(file,ACCESS_TOKEN);

      } else { // File is bigger than 150 Mb - use filesUploadSession* API
        const maxBlob = 8 * 1000 * 1000; // 8Mb - Dropbox JavaScript API suggested max file / chunk size
        var workItems = [];     
      
        var offset = 0;
        while (offset < file.size) {
          var chunkSize = Math.min(maxBlob, file.size - offset);
          workItems.push(file.slice(offset, offset + chunkSize));
          offset += chunkSize;
        } 
          
        const task = workItems.reduce((acc, blob, idx, items) => {

         

          if (idx == 0) {
            // Starting multipart upload of file
            console.log("file upload session starting");
            return acc.then(function() {
              return dbx.filesUploadSessionStart({ close: false, contents: blob})
                        .then(response => response.session_id)
            });          
          } else if (idx < items.length-1) {  
            // Append part to the upload session
            
            return acc.then(function(sessionId) {

            console.log("file uploading part "+idx);

             var cursor = { session_id: sessionId, offset: idx * maxBlob };
             return dbx.filesUploadSessionAppendV2({ cursor: cursor, close: false, contents: blob }).then(() => sessionId); 

            });
          } else {
          	
            // Last chunk of data, close session
            return acc.then(function(sessionId) {
            	console.log("uploading last chunk");
              var cursor = { session_id: sessionId, offset: file.size - blob.size };
              var commit = { path: '/' + file.name, mode: 'add', autorename: true, mute: false };              
              return dbx.filesUploadSessionFinish({ cursor: cursor, commit: commit, contents: blob });           
            });
          }          
        }, Promise.resolve());
        
        task.then(function(result) {
          var results = document.getElementById('results');
          results.appendChild(document.createTextNode('File uploaded!'));
        }).catch(function(error) {
          console.error(error);
        });
        
      }
      return false;
    }

  function uploadViaHttp(file,accessToken)
  {
  	var xhr = new XMLHttpRequest();

		xhr.upload.onprogress = function(evt) {
		    var percentComplete = parseInt(100.0 * evt.loaded / evt.total);
		    // Upload in progress. Do something here with the percent complete.
		    console.log("Percentcomplete - "+percentComplete);
		};

	xhr.onload = function() {
	    if (xhr.status === 200) {
	        var fileInfo = JSON.parse(xhr.response);
	        // Upload succeeded. Do something here with the file info.
	        console.log("uploaded - ");
	    }
	    else {
	        var errorMessage = xhr.response || 'Unable to upload file';
	        // Upload failed. Do something here with the error.
	        console.log("unable to upload - "+errorMessage);
	    }
	};

	xhr.open('POST', 'https://content.dropboxapi.com/2/files/upload');
	xhr.setRequestHeader('Authorization', 'Bearer ' + accessToken);

	xhr.setRequestHeader('Content-Type', 'application/octet-stream');
	xhr.setRequestHeader('Dropbox-API-Arg', JSON.stringify({
	    path: '/' +  file.name,
	    mode: 'add',
	    autorename: true,
	    mute: false
	}));

	xhr.send(file);
  }


  </script>
</script>
<script type="text/javascript">
  var uploadFiles = [];var campaignInfoFile=null;
  var info = null;
  function invalidCampaign()
  {
    //clear global varaibales
    clearGlobalVaribles();
    document.getElementById('campaign_select').value='';
      alert("Invalid campaign");
  }

  function clearGlobalVaribles()
  {
    uploadFiles.length =0;
    campaignInfoFile = null;
    info=null;
  }

  function getfolder(e) {
    clearGlobalVaribles();

    var files = e.target.files;
    var path = files[0].webkitRelativePath;
    var campaignName = (path.split("/"))[0];
    console.log("campaignName - "+campaignName)
    //get campaign info file
    for(var i=0; i<files.length;i++)
    {
      var fileNameInfo = (files[i].name).split(".");
      console.log(fileNameInfo[0]+"size-"+files[i].size+"extension"+fileNameInfo[fileNameInfo.length-1].toUpperCase());
      if(fileNameInfo[0] == campaignName && 
        (fileNameInfo[fileNameInfo.length-1].toUpperCase() === "TXT"))
      {
        campaignInfoFile = files[i];
        break;
      }
    	
    }

    if(campaignInfoFile==null)
    {
      invalidCampaign();
    }else
    {
      //read info file 
     readTextFile(campaignInfoFile);
    }

   function readTextFile(file)
{
    var reader = new FileReader();

    reader.onload = function(e) {
     info = reader.result;
     console.log("info --"+info);
     checkForCorrectInfoFile(info);
    }

    reader.readAsText(file);    
}

function checkForCorrectInfoFile(result)
{
  try
  {
    var resultJSON = JSON.parse(result);
    if(resultJSON.hasOwnProperty("type"))
    {
      console.log("success");
      //success,, prepare uploadable files
      var type = resultJSON.type;
      if(type == "multi_region")
      {
         //process multi region files and add to list
         processMultiRegFilesToUpload(resultJSON.regions);
      }else
      {
        addForRegion(resultJSON,"Single");
      }
      
      //check for bg audio file
      if(resultJSON.hasOwnProperty("bg_audio"))
      {
        uploadFiles.push(resultJSON.bg_audio);
      }

      verifyAndPrepareUploadFiles();
      console.log("total uploadable files - "+uploadFiles.length);
       
    }else
    {
      invalidCampaign();
    }
  }catch(err)
  {
    console.log(err.message);
     invalidCampaign();
  }
}

function processMultiRegFilesToUpload(regions)
{
  for(var i=0;i<regions.length;i++){
    addForRegion(regions[i],"multi");
  }
}

function addForRegion(region,type)
{
  if(region.type != "text" && region.type != "Url")
  {
    if(type=="Single")
    {
     uploadFiles.push(region.resource);
    }else
    {
      uploadFiles.push(region.media_name);
    }
     
  }
}
 
 function verifyAndPrepareUploadFiles()
 {
   var tempUploadFiles = uploadFiles;
   uploadFiles = [];
   var selectedFiles = Object.values((document.getElementById('campaign_select').files));
  
   for(var i=0;i<tempUploadFiles.length;i++)
   {
     var tempFileName = tempUploadFiles[i];
     //iterate through the selected files to check for the origin file
     for(var j=0;j<selectedFiles.length;j++)
     {
       if(tempFileName == selectedFiles[j].name)
       {
        //remove the file from selected, so it wont come in next iterate ,, before that add to upload files
         uploadFiles.push(selectedFiles[j]);
         //selectedFiles.splice(j,1);
         break;
       }
     }
   }

   //at the end add info file 
  uploadFiles.push(campaignInfoFile);
 } 
}
</script>

</body>
</html>