{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block header %}
{% include 'header.html' %}
{% endblock %}

</head>
<body>
{% block body %}
<br/><br/><br/><br/><br/>
<div class="body-content">
    <div class="container">
        <div class="terms-conditions-page">
            <div class="row">
                <div class="col-md-12 terms-conditions">
    <h2 class="heading-title">About AdsKite</h2>
    <div class="">
        <p>Adskite - Marketplace for outdoor and Indoor advertising.
	Adskite connects businesses/customers with media/printing vendors for advertising needs. </p>
        <h3>Are you a business looking for cost efficient advertising?</h3>

            <p>This Privacy Policy reflects the following three principles that we strive to uphold in providing you with the services on our Services:</p>
                        <ol style="list-style-type: square;">
                            <li>Do you know outdoor and indoor advertising is the most effective solution? you can reach 1000s of people everyday.</li>
                            <li>Do you want to rent/buy the advertising medias from our huge collection of billboards/transit vehicles/bills/tickets/phamplets/newspapers/magazines. </li>
                            <li>Do you want to find 100s of vendors to advertise at favorite location & with an effective pricing.</li>
                        </ol>

        <h3>Are you a printing/advertising vendor ?</h3>
        <ol style="list-style-type: square;">
        	 <li>Do you want to advertise your medias/printing services of billboards/transit vehicles/bills/tickets/newspapers/magazines etc.</li>
 <li>Do you want to rent/sell your media quickly and earn more money.</li>
 <li>Do you want to find 100s of businesses?</li>
 </ol>


        <h3>In adskite as a business/customer</h3>
        <ol style="list-style-type: square;">
        <li>book/rent/buy billboards.</li>
<li>search/review billboards as per your location & as per pricing needs.</li>
<li>pay an advance amount to book billboards.</li>
<li>communicate with vendors via emails.</li>
 </ol>
        <h3>In adskite as a vendor</h3>
        <ol style="list-style-type: square;">
        <li>you can register your profile.</li>
<li>add,edit,delete billboards.</li>
<li>rent billboards, accept advance payment.</li>
<li>instant notifications with your customers via emails.</li>
</ol>

    </div>
</div>          </div><!-- /.row -->
        </div><!-- /.sigin-in-->
       </div><!-- /.container -->
</div><!-- /.body-content -->
<br/><br/>

{% endblock %}

<br/><br/><br/>
{% block footer %}
{% include 'footer.html' %}
{% endblock %}

</body>

</html>