{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title> {% block title %} profile - change_password {% endblock %}</title>
</head>
<body>
{% block body %}
    {% if messages %}
  <ul class="messages">
   {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
          {% endfor %}
  </ul>

        {% endif %}<br>
    <div class="container">

        <h2><b> Changepassword Form </b></h2><br>

        <form method="post"  action="{% url 'change_password' %}">
            {% csrf_token %}
            {{ form.as_p}}<br>
             <input type="submit" value="Submit" style="background-color: lawngreen">
        </form>
    </div>
{% endblock %}
</body>
</html>


<iframe width="350" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/25e5f168-0b1c-4a70-9fb8-11e41a6be437" style="text-align:center"></iframe>
