{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block header %}
{% include 'header.html' %}
{% endblock %}

</head>
<body>
{% block body %}
<br/><br/><br/><br/><br/>
<div class="body-content">
    <div class="container">
    <div class="contact-page">
        <div class="row">

                <div class="col-md-12 contact-map outer-bottom-vs">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.52069731808!2d77.71044791460355!3d13.002479117718533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae11bb13f76e4d%3A0xa1555b4b729b1770!2sAdsKite+India+Pvt+Ltd!5e0!3m2!1sen!2sin!4v1540397701037" width="600" height="450"  style="border:0"></iframe>

                </div>
                <div class="col-md-9 contact-form">
    <div class="col-md-12 contact-title">
        <h4>Contact Form</h4>
    </div>
    <div class="col-md-12 ">
        <form class="register-form" role="form">
            <div class="form-group">
            <label class="info-title" for="exampleInputName">Your Name <span>*</span></label>
            <input type="email" class="form-control unicase-form-control text-input" id="exampleInputName" placeholder="">
          </div>
        </form>
    </div>
    <div class="col-md-12">
        <form class="register-form" role="form">
            <div class="form-group">
            <label class="info-title" for="exampleInputEmail1">Email Address <span>*</span></label>
            <input type="email" class="form-control unicase-form-control text-input" id="exampleInputEmail1" placeholder="">
          </div>
        </form>
    </div>
    <div class="col-md-12">
        <form class="register-form" role="form">
            <div class="form-group">
            <label class="info-title" for="exampleInputTitle">Title <span>*</span></label>
            <input type="email" class="form-control unicase-form-control text-input" id="exampleInputTitle" placeholder="Title">
          </div>
        </form>
    </div>
    <div class="col-md-12">
        <form class="register-form" role="form">
            <div class="form-group">
            <label class="info-title" for="exampleInputComments">Your Comments <span>*</span></label>
            <textarea class="form-control unicase-form-control" id="exampleInputComments"></textarea>
          </div>
        </form>
    </div>
    <div class="col-md-12 outer-bottom-small m-t-20">
        <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Send Message</button>
    </div>
</div>
<div class="col-md-3 contact-info">
    <div class="contact-title">
        <h4>Information</h4>
    </div>
    <div class="clearfix address">
        <span class="contact-i"><i class="fa fa-map-marker"></i></span>
        <span class="contact-span"><p>AdsKite India Pvt Ltd.,</p>
2nd Floor, Gokul Mansion, Opposite to Krishna Community Hall, Ayyappa Nagar,K.R Puram, Bengaluru, Karnataka -560036.</span>
    </div>
    <div class="clearfix phone-no">
        <span class="contact-i"><i class="fa fa-mobile"></i></span>
        <span class="contact-span">+(080) 25617355<br>+(91) 9900819475</span>
    </div>
    <div class="clearfix email">
        <span class="contact-i"><i class="fa fa-envelope"></i></span>
        <span class="contact-span"><a href="mailto:contact@adskite.com">contact@adskite.com</a></span>
    </div>
</div>          </div><!-- /.contact-page -->
        </div>
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->    </div><!-- /.container -->
</div><!-- /.body-content -->
<br/><br/><br/><br/><br/>

{% endblock %}


{% block footer %}
{% include 'footer.html' %}
{% endblock %}

</body>

</html>