
{% load static %}
<!Doctype html>
<html>
	<head>

	    <meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
	    <meta name="keywords" content="video, images, audio, content, adskite, signageserv">
	    <meta name="robots" content="all">

	    <title>Green Content</title>

		<!-- Bootstrap Core CSS -->
        <!--<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">-->

        <!-- Navbar css-->
        <link rel="stylesheet" type="text/css" href="{% static 'navbar/css/bootstrap.min.css' %}">
    	<link rel="stylesheet" type="text/css" href="{% static 'navbar/css/logo-nav.css' %}">

        <!-- Customizable CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/main.css'%}">
        <link rel="stylesheet" href="{% static 'assets/css/blue.css'%}">
        <!--<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css'%}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css'%}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/animate.min.css'%}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/rateit.css'%}">-->
        <!--<link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css'%}">-->


        <!-- Icons/Glyphs -->
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.css'%}">
        <link rel="stylesheet" href="{% static 'assets/css/simple-line-icons.css'%}">

		<!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

        <!--alert style-->
        <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
        <script src="{% static 'js/sweetalert.js' %}"></script>


	</head>

	<body>

		<!--<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: cornflowerblue;">-->
		<!--	  <a class="navbar-brand" href="{% url 'home' %}" >Welcome To CMS</a>-->

		<!--	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="background: green;">-->
		<!--		<span class="navbar-toggler-icon"></span>-->
		<!--	  </button>-->
		<!--	  <div class="collapse navbar-collapse" id="navbarNavDropdown">-->
		<!--		<ul class="navbar-nav w-100">-->
		<!--		  {% if request.user.is_authenticated %}-->
		<!--		  <li class="nav-item dropdown ml-auto">-->
		<!--			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
		<!--			  {{ request.user.first_name}}-->
		<!--			</a>-->
		<!--			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">-->
					  <!--<a class="dropdown-item" href="{% url 'my_wishlist' %}">My Whishlist</a>-->
		<!--			  <a class="dropdown-item" href="{% url 'mycontent_videos' %}">My content</a>-->
					  <!--<a class="dropdown-item" href="#">Change password</a>-->
		<!--			  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>-->

		<!--			</div>-->
		<!--		  </li>-->

		<!--		  {% else %}-->
		<!--		        <a href="{% url 'signin' %}" class="btn btn-info" role="button" id="signup-button" style="position: absolute;right:18px;top:7px;background-color: yellowgreen;"> Login </a>-->

		<!--		  {% endif %}-->
		<!--		</ul>-->
		<!--	  </div>-->
		<!--</nav>-->


        <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:forestgreen;border-bottom: 2px solid green;">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <!--<img src="{% static 'images/logo12345.png'%}" width="150" height="30" alt="">-->
          <h4>Green Content CMS</h4>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: seagreen;">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto" style="
    float: right;
">
              {% if request.user.is_authenticated %}
               <li class="nav-item">
              <a class="nav-link" href="{% url 'mycontent_videos' %}">My Content</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'my_wishlist' %}">My Whishlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'My_GC_Groups' %}">GC Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'campaign_upload' %}">Upload Campaign</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'my_campaigns' %}">Download Campaign</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="{% url 'web_search' %}">Web Content</a>
            </li>
            <!--<li class="nav-item">-->
            <!--  <a class="nav-link" href="#">Products</a>-->
            <!--</li>-->
            <li class="nav-item active">
              <a class="nav-link"  href="{% url 'logout' %}">{{ request.user.first_name}}(Logout)</a>
            </li>

             {% else %}

              <li class="nav-item active">
              <a class="nav-link"href="{% url 'signin' %}">Login</a>
            </li>

            {% endif %}

          </ul>
        </div>
      </div>
    </nav>


<script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script>
<!--<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/bootstrap-hover-dropdown.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/echo.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/jquery.easing-1.3.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/bootstrap-slider.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/jquery.rateit.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>-->
<!--<script src="{% static 'assets/js/wow.min.js' %}"></script>-->
<script src="{% static 'assets/js/scripts.js' %}"></script>
<script src="{% static 'js/default_busy_loader.js' %}"></script>

<!--nav bar-->
    <script src="{% static 'navbar/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'navbar/js/jquery.min.js' %}"></script>

	</body>


</html>





