
{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
{% block header %}
{% include 'header.html' %}
{% endblock %}
</head>


<body>
{% block body %}
<br><br><br><br>
<style>
/*.content {*/
/*  min-height: calc(100vh - 70px);*/
/*  padding: 40px 40px 0 40px;*/
/*}*/
/*.footer {*/
/*  height: 50px;*/
/*}*/
</style>

<div class="content">
{% if request.user.is_authenticated %}

      <div class="container">
        <div class="rows" style="text-align: right;">
            <div class="col-md-12">
                 <a href="/mycontent/upload/" class="border border-success" style="padding: 10px;border-radius: 10px;">Upload Content</a>
             </div>
         </div>
      </div>

        <br/>
    <div class="container">
        <div class="rows">
            <div class="col-md-12">
                <center><a href="#" id="google_logo" style="padding-top:40px;"><img id="img_logo" src="{% static 'images/Green_logo.png'%}" alt="image" style="width:80%;"/></a></center>
	        </div>
        </div>


             <!--<div class="col-md-12">-->
			<div class="form">
			<form action="{% url 'mycontent_search' %}" method="get" style="text-align: center" >
            <center><input type="text" class='form-control' name="keyword" value="{{ key }}" size="40"  style="font-size:15pt;" required autofocus></center><br>

            <!--    <div class="col-md-12">-->
            <!--         <div class="rows">-->
            <!--        <div class="col-md-4"><input type="submit" name="videos" value="Videos" class="btn btn-primary btn-md"></div>-->
            <!--        <div class="col-md-4"><input type="submit" name="images" value="Images" class="btn btn-primary btn-md"></div>-->
            <!--        <div class="col-md-4"><input type="submit" name="news" value="News" class="btn btn-primary btn-md"></div>-->
            <!--    </div>-->
            <!--</div>-->
            <div class="rows">
            <div class="col-md-12">
            <input type="submit" name="videos" value="Videos" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" name="images" value="Images" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" name="news" value="News" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            </div>
            </form>
			</div>
			<!--</div>-->


    </div>

        <br/><br/>

{% if private_result %}


<form  method="get">

<section id="team" class="pb-5">
    <div class="container">
        <div class="row">

            {% for i in private_result %}

                 <div class="col-xs-12 col-sm-6 col-md-4">


                    <div class="mainflip">

                        <div class="frontside">

                            <div class="card">

                                <div class="card-body text-center">

									<div>
                                        <video width="100%" height="100%" controls><source src="{{i.upload.url}}" type="video/mp4"></video>
                                    </div>


                                    <p class="card-title">{{i.upload.name}}</p>

                                    <p> Uploaded by: You </p>

                                     <p> Created date: {{ i.created_date }} </p>

                                    <a href="{{i.upload.url}}"  class="btn btn-outline-success" download> Download </a>

		                            <a class="btn btn-outline-danger" onclick="delete_video('{{i.id}}');">Delete</a>


                                </div>

                            </div>



                        </div>

                    </div>



                </div>
            {% endfor %}
        </div>
    </div>
</section>

</form>

<script>
        function delete_video(id)
		{
            console.log(id);
    				var urls = 'https://www.greencontent.in/remove_upload_files/'+id;
            swal({
              title: "Are you sure?",
              text: "You want to delete this Video..!",
              type: "warning",
              showCancelButton: true,
              confirmButtonClass: "btn-danger",
              confirmButtonText: "Yes, delete ",
              cancelButtonText: "No, cancel ",
              closeOnConfirm: false,
              closeOnCancel: false
            },function(isConfirm) {
              if (isConfirm) {
		    var form_data = new FormData();
             ajaxindicatorstart("<img src='{% static "images/ajax-loader.gif" %}'><br/> Please wait...!");
				$.ajax(
				{
					  type:'GET',
					  url: urls,
					  data:{
					  },
					  success: function(data)
					  {
						console.log("data==="+JSON.stringify(data));
						 //disableButton(id);
					try {

							  if(data['status']==true)
							  {
                                        swal({
                                        title: "Video!",
                                                  text: "Deleted Successfully!",
                                                  type: "success"
                                        },
                                        function(){
                                          window.location.reload();
                                      });
                                     ajaxindicatorstop();
							  }
							  else if(data['status']==false)
							  {

                                    swal("Error, Please contact us.");
                                     ajaxindicatorstop();

							  }

						}
						catch(Exception)
						{
							alert(Exception.message);
						}

					  }
				   });

    } else {
    swal("Cancelled", "Video is safe", "error");
      }
    });


		}
</script>

{% endif %}

{% if empty%}
{{ empty }}
{% endif %}

<br/><br/><br/><br/>


{% else %}


			<script>

			    //$('#Login_Modal').modal('show');

			    $('#Login_Modal').modal({backdrop: 'static', keyboard: false});

			</script>


{% endif %}
            </div>
{% endblock %}


{% block footer %}
{% include 'footer.html' %}
{% endblock %}


</body>

</html>

