
{% load static %}
<html lang="en">
<head>
{% block header %}
{% include 'header.html' %}
{% endblock %}

</head>
{% block body %}
<body>


	<!-- For Bootstrap UI Button -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="{% static 'multiple_emails/multiple-emails.css' %}" />
     <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src='http://code.jquery.com/jquery-latest.min.js'></script>
    	<script type="text/javascript" src="{% static 'multiple_emails/multiple-emails.js' %}"></script>
		<script type="text/javascript">

		      var useremail_list;

		//Plug-in function for the bootstrap version of the multiple email
		$(function() {
			//To render the input device to multiple email input using BootStrap icon
			$('#example_emailBS').multiple_emails({position: "bottom"});
			//OR $('#example_emailBS').multiple_emails("Bootstrap");

			//Shows the value of the input device, which is in JSON format
			$('#current_emailsBS').text($('#example_emailBS').val());
			$('#example_emailBS').change( function(){
				$('#current_emailsBS').text($(this).val());
			});
		});

        function list_gc(){
         document.getElementById('addemail').style.display='none';
           document.getElementById('listemail').style.display='block';
        }
        function add_gcname(){
          document.getElementById('addemail').style.display='block';
          document.getElementById('listemail').style.display='none';
        }

        window.onload=getemail_id();

        function getemail_id(){
            	$.ajax(
				  {
					  type:'GET',
					  url: '/all_user_emails_api/',
					  data:{
					  },
					  success: function(data)
					  {
						console.log("data result==="+JSON.stringify(data));
						try {


							  if(data['status']==true)
							  {

                                     //swal("success, got data.");
                                     //alert(data['result']);
                                useremail_list = data['result'] ;
                                // alert(useremail_list);

							  }
							  else if(data['status']==false)
							  {

                                    swal("Error, Please contact us.");

							  }

						}
						catch(Exception)
						{
							alert(Exception.message);
						}

					  }
				  });

        }


		function submit()
		{
		    var gname = document.getElementById('group_name').value;
            var multi_emails = document.getElementById('current_emailsBS').innerHTML;
            if(gname=="" || gname=="null" || gname==" " || gname=="undefined"){
                swal("Please enter email group name");
                return false;
            }
             if(multi_emails=="[]" || multi_emails==undefined || multi_emails==null || multi_emails==""){
                swal("please enter email id(s)");
                return false;
            }
            var array = JSON.parse( multi_emails)
            console.log(typeof(array));
         console.log(JSON.stringify(array));
        // for(var i=0;i<array.length;i++){
        //     var record = array[i];
        //     console.log("==="+record);
        //     }

        //     // alert(useremail_list);
        //      console.log(typeof(useremail_list));
        //      console.log(JSON.stringify(useremail_list));
        //      for(var i=0;i<useremail_list.length;i++){
        //     var record1 = useremail_list[i];
        //     console.log("==="+record1);
        //     }

            //  for(var i=0;i<array.length;i++){
            //       var record_i = array[i];
            //       for(var j=0;j<useremail_list.length;j++){
            //       var record_j = useremail_list[j];
            //       if(record_i == record_j){
            //           swal("Email exits"+record_i);

            //       }else{
            //             swal("Email does not exits"+record_i);
            //           break;
            //       }

            //  }
            //  }

    var arr1 = useremail_list;
   var arr2 = array;
	var foo = [];
    var foo1 = [];



    // var res = $(arr1).not(arr2).length == 0 && $(arr2).not(arr1).length == 0;

	//alert(arr1 +"---"+ arr2);
	var res;

    $.grep(arr2, function (el) {

      if ($.inArray(el, arr1) != -1) {
          foo.push(el);
         // alert(" have the same " + foo);
      }else
      {
      	foo1.push(el);
      	res="false";
      }

  });

if(res=="false" || res==false ){
swal(" Email id does not exist, please create user account for " + foo1);
return false;
}









           // console.log("name"+gname+"email"+multi_emails);
// 			var form_data = new FormData();
// 			    form_data.append('group_name',gname);
// 				form_data.append('group_emails_list',JSON.stringify(multi_emails));

                 ajaxindicatorstart("<img src='{% static "images/ajax-loader.gif" %}'><br/> Please wait...!");

				$.ajax(
				  {
					  type:'GET',
					  url: '/Add_GC_groups/',
					  data:{
                         group_name: gname,
                         group_emails_list: multi_emails,
					  },
					  success: function(data)
					  {
						console.log("data result==="+JSON.stringify(data));
						try {


							  if(data['status']==true)
							  {


                                      setTimeout(function() {
                                        swal({
                                            title: "success",
                                            text: "New group created successfully.",
                                            type: "success"
                                        }, function() {
                                            window.location = "{% url 'My_GC_Groups' %}";
                                        });
                                    }, 2000);
                                     ajaxindicatorstop();
							  }
							  else if(data['status']==false)
							  {

                                    swal("Error, Please contact us.");
                                     ajaxindicatorstop();
							  }

						}
						catch(Exception)
						{
							alert(Exception.message);
						}

					  }
				  });

		 }

	</script>


    <br/> <br/><br/>
    <style>
.h4,h4{
    margin:0px;
}

.actives{
    background:green;

}
a.btn:active{
    background:green;
}
</style>
<div class="container">
    <div class="rows">

            <div class="col-md-12" id="my_styles" style="text-align: center;display:inline-block;">
       <!--<a type="submit" class="btn border border-success actives" style="padding: 10px;border-radius: 10px;margin-right:35px;cursor:pointer;"  onclick="list_gc();">Show My GC Groups</a>-->
       <!--<a type="submit" class="btn border border-success" style="padding: 10px;border-radius: 10px;margin-right:35px;cursor:pointer;" onclick="add_gcname();">Add GC Group</a>-->

     <a  class="btn border border-success actives" style="
    padding: 10px;
    border-radius: 10px;cursor:pointer;color:burlywood;
"  onclick="list_gc();">My GC Groups</a>

     <a  class="btn border border-success" style="
    padding: 10px;
    border-radius: 10px;margin-right:35px;cursor:pointer;color:burlywood;"  onclick="add_gcname();">Add GC Group</a>
     </div>
     </div>
     </div>
    <br/>
     <!--start add gmail-->
	<div class='container' style="display:none;border: solid 2px lightblue;
    border-radius: 10px;" id="addemail">
		<div class='rows'>
			<h3 style="text-align:center;">Add Emails to GC Groups</h3>
			<div class='form-group'>
				<div class='col-md-12'>
					<h5 for='example_emailBS'>Input GC Group Name :</h5>
					<input type='text' id='group_name'  class='form-control' autofocus>
				</div>

			</div>

			<div class='form-group'>
				<div class='col-md-12'>
					<h5 for='example_emailBS'>Input Group Mail Id :</h5>
					<input type='text' id='example_emailBS' name='example_emailBS' class='form-control' value=''>
				</div>
					<pre id='current_emailsBS' style="display:none;"></pre>
			</div>
			<div class='form-group'>
			    <div class='col-md-12' style="text-align: center;margin: 10px;">
			    <button class="btn btn-success" onclick="submit();">Submit</button>
			    </div>
			</div>

		</div>
	</div>
	<!--end add gmail-->

	<!--start list groups-->
	<div class='container' style="border: solid 2px lightblue;
    border-radius: 10px;" id="listemail">
		<div class='rows'>
			<br/>

            <div class='panel panel-default'>

                    <div class='panel-heading' style='background: cornflowerblue;color: white;'>List of My GC Groups</div>
                    <!--{{ result }}-->
                    {% for i in result %}
                    <ul class='list-group'>

                        <li class='list-group-item'>
                            <div class='row toggle'  id='lead_contact_details' data-toggle='contact_detail_{{i.group_id}}' onclick="leadcontactdetailsdropdown('{{i.group_id}}');" style='cursor:pointer'>

                            <div class='col-xs-10'>{{ i.group_name }}</div>
                            <div class='col-xs-2'><i class='fa fa-chevron-down pull-right'></i></div>
                            <!--<div class='col-xs-1'><i class='fa fa-trash pull-right'></i></div>-->
                            </div>


                                <div id='contact_detail_{{i.group_id}}' style='display:none;'><hr></hr><i class='fa fa-trash pull-right' style='color:red;' onclick='delete_group_names("{{i.group_id}}");'></i>
                                {% for j in i.group_emails_list %}<p id='lead_name_'>{{ j }}</p>{% endfor %}
                                </div>
                                </li>


                    </ul>{% endfor %}

            </div>
		</div>
	</div>


	<!--end list groups-->
   	<!-- For the plug-in dependencies -->
   	<script>
   	    jQuery("#my_styles .btn").click(function(){
        jQuery("#my_styles .btn").removeClass('actives');
        jQuery(this).toggleClass('actives');
});
   	</script>
<script>
  function leadcontactdetailsdropdown(RecordId)
  {
        $('#contact_detail_'+RecordId).toggle('slow');
  }

  function getContent(value)
  {
    console.log(value);
  }


    function displayLeads(leadsData)
    {

        var totalRecords = leadsData.length;

	   // var rec = leadsData[0].values;


	    console.log(JSON.stringify(leadsData));

       /* var i = 0;
      for(i;i<totalRecords;i++)
      {
        var record =  leadsData[i];


        var recordid = record.lead_id;


        updateAmount.push({total_amount:record.values.total_amount,adv_amount:record.values.adv_amount,discount:record.values.discount});

        var datata = JSON.stringify(updateAmount);
        {

          var newRows = "<div class='panel panel-default'>";

          newRows +="<div class='panel-heading' style='background: cornflowerblue;color: white;'>"+"Lead Details"+"</div>"

          newRows +="<ul class='list-group'>"

            //Contact Details

          newRows +="<li class='list-group-item'>"
          newRows +="<div class='row toggle'  id='lead_contact_details' data-toggle='contact_detail' onclick='leadcontactdetailsdropdown();' style='cursor:pointer'>"

          newRows +="<div class='col-xs-10'>"+"Lead Contact Details"+"</div>"

          newRows +="<div class='col-xs-2'>"+"<i class='fa fa-chevron-down pull-right'></i>"+"</div></div>"

          newRows +="<div id='contact_detail' style='display:none;'>"+"<hr></hr>"
          newRows += "<p id='lead_name_>"+"Lead Name <br />"+"record.values.name"+"</p>"




          newRows +="</div></li>"


          newRows+="</ul>"

          newRows += "</div>"

          $("#display_leads_divbody").append(newRows);
        }
      }*/
  }

    // delete group name start
    function delete_group_names(id){
       console.log(id);
    				var urls = 'https://www.greencontent.in/del_group/'+id;
            swal({
              title: "Are you sure?",
              text: "You want to delete this group name..!",
              type: "warning",
              showCancelButton: true,
              confirmButtonClass: "btn-danger",
              confirmButtonText: "Yes, delete ",
              cancelButtonText: "No, cancel ",
              closeOnConfirm: false,
              closeOnCancel: false
            },function(isConfirm) {
              if (isConfirm) {
		    var form_data = new FormData();
             ajaxindicatorstart("<img src='{% static "images/ajax-loader.gif" %}'><br/> Please wait...!");
				$.ajax(
				{
					  type:'GET',
					  url: urls,
					  data:{
					  },
					  success: function(data)
					  {
						console.log("data==="+JSON.stringify(data));
						 //disableButton(id);
					try {

							  if(data['status']==true)
							  {
                                        swal({
                                        title: "Group Name!",
                                                  text: "Deleted Successfully!",
                                                  type: "success"
                                        },
                                        function(){
                                          window.location.reload();
                                      });
                                     ajaxindicatorstop();
							  }
							  else if(data['status']==false)
							  {

                                    swal("Error, Please contact us.");
                                     ajaxindicatorstop();

							  }

						}
						catch(Exception)
						{
							alert(Exception.message);
						}

					  }
				   });

    } else {
    swal("Cancelled", "Group name is safe", "error");
      }
    });
    }
    // end delete group name
</script>
<br/> <br/>
{% endblock %}
<br/><br/><br/>
{% block footer %}
{% include 'footer.html' %}
{% endblock %}
</body>
</html>

