{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title> {% block title %} my wishlist  {% endblock %}</title>

</head>
<body>
{% block body %}
<br><br><br>
<a href="{% url 'my_videos' %}" class="btn btn-success btn-sm">videos list</a> <br><br>
<a href="" class="btn btn-success btn-sm">Images list</a> <br><br>-->
<a href="#" class="btn btn-success btn-sm">news list</a> <br><br>
<a href="#" class="btn btn-success btn-sm">marketing list</a> <br><br>
<a href="#" class="btn btn-success btn-sm">shopping list</a> <br><br>
{% endblock %}
<br><br><br><br><br>



</body>

</head>