
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block header %}
{% include 'header.html' %}
{% endblock %}
</head>

	<link rel="stylesheet" type="text/css" href="{% static 'uploadform/css/style.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>

<body>

    <br<br><br><br><br><br><br><br>

    <form method="post" enctype="multipart/form-data" action = "{% url 'sampletest' %}">
	    {% csrf_token %}
  Select a file: <input type='file' accept='text/plain' onchange='openFile(event)'><br>
    <div id='output'>
    ...
    </div>

    </form>

        <script>
      var openFile = function(event) {
        var input = event.target;

        var reader = new FileReader();
        reader.onload = function(){
          var text = reader.result;
          var node = document.getElementById('output');
          node.innerText = text;
          console.log(reader.result.substring(0, 200));
        };
        reader.readAsText(input.files[0]);
      };
    </script>

</body>
</html>
